@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #3b4acd;
    color: #A5B2D3;
    padding: .5em;
    font-family: serif;
    height: 100vh;
    text-align:center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header svg {
    width: 1.5em;
    cursor: pointer;
}

a {
    color: white;
}


ul {
    list-style: none;
    padding: 0;
}

a.logo {
    font-weight: bold;
    margin: 0 1em;
}

a.cta-btn {
    margin-left: auto;
    background: #FC85AE;
    padding: 1em;
    display: inline-block;
    border-radius: 2em;
    font-size: .6em;
    color: #303A52;
    font-weight: bold;
}

/* Navigation */


nav {
    position: fixed;
    background: #576483;
    height: 100vh;
    left: 0;
    top: 0;
    width: 80%;
    visibility: hidden;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .3s;
    text-align: center;
}


nav p {
    margin-bottom: 0;
}

nav svg {
    cursor: pointer;
    width: 1em;
}

nav ul li a {
    display: block;
    padding: .2em;
    font-size: 1.8em;
}

.selected {
    background: #9E579D;
}

.open-nav {
    visibility: unset;
    opacity: 1;
    transform: translateX(0);
}


/* Main Section */


h1 {
    color: white;
    margin-top: 1em;
}

.panel {
    background: #39445F;
    border-radius: .3em;
}

h3 {
    color: #FC85AE;
    margin: 0;
    font-size: 2em;
}

ul.data li p {
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    margin: .3em 0 1em;
}

ul.data li:last-child p {
    margin-bottom: 0;
}
ul.secondary {
    margin-top: 2em;
}
ul.secondary li p {
    font-size: 1.3em;
}

main {
    border: 1px solid white;
}


/* Your Fixes Below */

body {
    background: #303a52;
    font-family: 'Nunito', sans-serif;
}

/*Header*/

header{
    padding: 25px 50px;
    font-size: 1.5em;
}


h1{
    font-size: 4em;
    margin: 80px 50px;
}

li h3{
    font-size: 2.5em;
    margin-bottom: 15px;
}

header a{
    text-decoration: none;
}

a.cta-btn{
    color: white;
}

main{
    border: none;
}

main ul{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-top: 15px;
}

.panel{
    background-color: #303A52;
    margin-bottom: 200px;
}

.data li{
    background-color: #39445F;
    padding: 75px 50px;
    border-radius: 15px;
}

.panel li{
    padding: 100px 75px;
}

.panel li:hover{
    background-color: white;
    transform: scale(1.1);
    transition: .3s;
}

.panel li:hover p{
    color: #FC85AE;
}

.columns.half{
    background-color: white;
    border-radius: 20px;
    padding: 125px 200px;
}

.secondary{
    padding: 75px;
    border-radius: 15px;
    background-color: #39445F;
}

.secondary li{
    background-color: #2C354A;
}

.secondary li:hover{
    background-color: #FC85AE;
    transform: scale(1.1);
    transition: .3s;
}

.secondary li:hover h3{
    color: white;
}
    
.col.left h3{
    color: #303A52;
    font-size: 3em;
}

.col.left p{
    color: #39445F;
    font-size: 1.2em;
}

ul.data li:last-child p{
    margin-bottom: 1em;
}

/*Navbar*/

nav{
    background: #2C354A;
    width: 25%;
    text-align: left;
    border-radius: 10px;
}

nav svg{
    font-size: 3em;
}

nav li{
    padding: 15px 25px;
}

nav li a{
    text-decoration: none;
}

.selected{
    background-color: #FC85AE;
    border-radius: 5px;
}

.inner-wrapper{
    padding: 30px;
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}

@media (max-width: 1400px){
    header{
        padding: 17px 3%;
        transition: .2s;
    }
    section{
        padding: 80px 3%;
        transition: .2s;
    }
    main ul{
        flex-wrap: wrap;
    }
}

@media (max-width: 1040px){
    nav{
        width: 50%;
    }
}